<!DOCTYPE html>
<html lang="en">
 <head>
  <link>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>칠성사이다</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
  </head>
  <script src="../static/index.js"></script>
  <body>
    <div class="container">
      <h1>칠성사이다</h1>
      <p class="paragraph">사이다처럼 톡톡 튀는 예비 개발자들이 모인,<br/>칠성사이다팀입니다.<br/>dddd</p>
      <div class="item">
        <img onclick="location.href=''" src="../static/cat.jpg" alt="img" width="300" height="450" />
        <div class="desc">
          <p>ddd<br/>bb</p>
          <p>ddd<br/>bb<br/>dsfssdfsdfds<br/><br/>dsfsd</p>
        </div>
        <a href="/soon">
        <img class="secondImg" src="../static/soon.jpg" alt="img" width="300" height="450" />
        </a>
      </div>

      <div class="item-center">
        <p class="desc-center">ddd<br/>bb</p>
        <img onclick="location.href=''" src="../static/cat.jpg" alt="img" width="300" height="450" />
        <p class="desc-center"></p>
      </div>

      <div class="item">
        <img onclick="location.href=''" src="../static/cat.jpg" alt="img" width="300" height="450" />
        <div class="desc">
          <p>ddd<br/>bb</p>
          <p>ddd<br/>bb<br/>dsfssdfsdfds<br/><br/>dsfsd</p>
        </div>
        <img onclick="location.href=''" class="secondImg" src="../static/cat.jpg" alt="img" width="300" height="450" />
      </div>
    </div>
  </body>
</html>